*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}


@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');



/* -------------------------TODOS------------------------------- */



header{
    display: flex;
    background-color: rgb(231, 230, 230);
    align-items: center;
    height: 20vh;
    width: 100%;
    text-transform: uppercase;
}

.iconHamb{
    display: none;
    margin-right: 70px;
    font-size: 50px;
}

nav{
    font-size:medium;
    letter-spacing: 0.1rem;    
}

.navBar{
    margin-left: 10px;
}

.nav-link:hover{
    color: royalblue;
    font-size: larger;
    transition: 0.4s;
}

.logo img{
    height: 20vh;
    width: auto;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

body{
    font-family: 'Kanit', sans-serif;
}

footer{
    background-color: black ;
    height: 11vh;
    width: 100%;
    font-size: small;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    letter-spacing: 2.5px;
}

.copyright h2{
    font-size: small;
    margin-top: 3.4vh;
}

.redes{
    font-size: 30px;
    background-color:black;
    margin-top: 3.4vh;
}

.redes a:not(:last-child){
    margin-right: 60px;
}

.redes a{
    color: white;
}

.fa-whatsapp:hover{
    color: rgb(45, 195, 45);
}

.fa-facebook:hover{
    color: rgb(19, 24, 180);
}

.fa-instagram:hover{
    color:rgb(247, 232, 21);
}

#inicioId{
    margin-left: 80px;
}

#climId{
    margin-left: 100px;
}

#matId{
    margin-left: 100px;
}

#nosId{
    margin-left: 100px;
}

#conId{
    margin-left: 100px;
}

.what{
    background-color: green;
    position: fixed;
    right: 2vw;
    bottom: 12vh;
    font-size: 50px;
    color: white;
    border-radius: 25%;
    padding: 7px;
}



/* ------------------------------INDEX---------------------------- */



#indexImg{
    background-image: url('./Multi/Cartel.png');
    width: 100%;   
    height: 90vh;  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



/* ----------------------------CLIMATIZACIÓN----------------------- */


.videosClim{
    justify-content: space-between;
    display: flex;
}

.contenedorClim{
    background-color: rgb(8, 80, 80);
    height: 80vh;
}

.videoClim2{
    height: 40vh;
    width: 34vw;
    animation-duration: 1.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-name: videoClim;
    // margin-left: 30.5vw;
}

.videoClim1{
    height: 40vh;
    width: 34vw;
    animation-duration: 1.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-name: videoClim2;
}

@keyframes videoClim{
    0%{
        transform: translateX(500px);
    }

    100%{
        transform:translateX(0px);
    }
}

@keyframes videoClim2{
    0%{
        transform:translateX(-500px);
    }

    100%{
        transform:translateX(0px)
    }
}

.clim1{
    height: 20vh;
    width: 20vw;
    margin-right: 25vw;
}

.clim2{
    height: 13vh;
    width: 13vw;
    margin-right: 25vw;
}

.clim3{
    height: 13vh;
    width: 13vw;
}

.contenedor2Clim{
    display:flex;
    align-items:center;
}



/* -------------------------------MATERIALES-VALUE----------------------------- */



#materialesImg{
    width: 100%;
    height: 300vh;
    position: relative;
    isolation: isolate;
    padding: 100px 0px;
}

#valueLogo{
    text-align: center;
    padding-bottom: 150px;
    margin-top: -50px;
}

#materialesImg::after{
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 30%;
    background-image: url('./Multi/Repuestos\ 1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
}

.grids{
    display: grid;
    grid-template-columns: repeat(3,500px);
    grid-template-rows: repeat(4,320px);
    grid-row-gap: 100px;
    grid-column-gap: 20px;
    justify-content: center;
}

@for $item from 1 through 15{
    $duration:0.3+0.2*$item;
    .item.item#{$item}{
        justify-content: center;
        text-align: center;
        animation-duration: $duration +s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-name: itemanimation;
    }
}

@keyframes itemanimation{
    0%{
        transform: translateY(500px);
    }

    100%{
        transform:translateY(0px);
    }
}

.títulosGrids{
    text-transform: uppercase;
    font-size: 20px;
    color:rgb(0, 0, 0);
    padding: 15px;
    font-family: 'Josefin Sans', sans-serif;   
}

.altImgs{
    height: 250px;
}



/* ---------------------------------MATERIALES------------------------ */



#value{
    font-size: 40px;
    text-decoration: none;
}

#valueTítulo{
    width: 100%;
    height: 250vh;
    position: relative;
    isolation: isolate;
    padding: 30px 30px;
}

#valueTítulo::after{
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 30%;
    background-image: url('./Multi/Repuestos\ 1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
}

#value:hover{
    color:darkblue;
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: beige;
}



/* ---------------------------------NOSOTROS-------------------------------- */



.contenedor2{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(1,255,255,0.1), rgba(255,255,255,0.5)), url('./Multi/Aire1.svg');
    /* object-fit: contain; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.contenedor2 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
}

.contenedor2 ul{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    margin-left: 50px;
}

.misión{
    margin-left: 50px;
    padding-top: 30px;
    font-size: 30px;
    color:navy;
    text-decoration: underline dotted 7px;
}

.pMisión{
    margin-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
}

.visión{
    margin-left: 50px;
    padding-top: 50px;
    font-size: 30px;
    color:navy;
    text-decoration: underline dotted 7px;
}

.pVisión{
    margin-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
}

.valores{
    margin-left: 50px;
    padding-top: 50px;
    font-size: 30px;
    color:navy;
    text-decoration: underline dotted 7px;
}  

.valoresUl{
    padding-left: 30px;
    padding-top: 50px;
}



/* --------------------------------CONTACTO---------------------------------- */



.contenedorForm{
    background-color: azure;
    height: 90vh;
}
 
.contenedorForm form{
    text-align: center;
    margin-top: 0px;
    justify-content: center;
}

.maps{
    position: absolute;
    left: 40px;
    height: 60vh;
    width: 30vw;
    top: 14vh;
    animation-duration: 1.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-name: maps;
}

@keyframes maps{
    0%{
        transform:translateX(-500px);
    }

    100%{
        transform:translateX(0px)
    }
}

input:focus{
    font-size: 20px;
    transition: 0.5s;
}

textarea:focus{
    font-size: 17px;
    transition: 2s;
}

input{
    height: 35px;
    width: 350px;
    box-sizing: border-box;
    border-radius: 10px;
}

::placeholder{
    text-align: center;
    font-size: 20px;
    align-items: center;
}

.form1{
    display: flex;
}

.form2{
    display: flex;
}

#nombre{
    margin-top: 60px;
    margin-left: 827px;
    margin-right: 30px;
}

#apellido{
    margin-top: 60px;
}

#teléfono{
    margin-top: 30px;
    margin-left: 827px;
    margin-right: 30px;
}

#correo{
    margin-top: 30px;
}

#localidad{
    margin-top: 30px;
    margin-left: 480px;
}

input#localidad{
    width: 730px;
}

#comentarios{
    height: 310px;
    width: 730px;
    margin-left: 480px;
}

#submit{
    margin-left: 480px;
    font-size: 20px;
}

#reset{
    margin-left: 30px;
    font-size: 20px;
}

#submit:hover{
    background-color:aquamarine
}

#reset:hover{
    background-color: aquamarine;
}

/* --------------------------------------- MEDIA QUERIES ------------------------------------------------- */



@media only screen and (max-width: 1550px) {

    .what{
        font-size: 45px;
    }

    #valueLogo img{
        height: 280px;
        width: auto;
    }

    .grids{
        display: grid;
        grid-template-columns: repeat(2,500px);
        grid-template-rows: repeat(4,320px);
        grid-row-gap: 100px;
        grid-column-gap: 20px;
        justify-content: center;
    }

    #materialesImg{
        width: 100%;
        height: 420vh;
    }

    .contenedor2 p{
        font-size: 25px;
    }

    .contenedor2 ul{
        font-size: 25px;
    }

    .misión{
        font-size: 27px;
    }

    .visión{
        font-size: 27px;
    }

    .valores{
        font-size: 27px;
    }
}

@media only screen and (max-width: 1450px) {
    .navBar{
        display: none;
    }

    .iconHamb{
        display:block;
    }

    header{
        justify-content: space-between;
    }

}

@media only screen and (max-width: 1050px) {
    .grids{
        display: grid;
        grid-template-columns: repeat(2,275px);
        grid-template-rows: repeat(4,250px);
        grid-row-gap: 100px;
        grid-column-gap: 60px;
        justify-content: center;
    }

    .altImgs{
        height: 180px;
    }

    #valueLogo img{
        height: 150px;
        width: auto;
    }

    .títulosGrids{
        font-size: 15px;
    }

    #materialesImg{
        height: 330vh;
    }
}

@media only screen and (max-width: 768px) {

    .grids{
        display: grid;
        grid-template-columns: repeat(1,275px);
        grid-template-rows: repeat(4,250px);
        grid-row-gap: 100px;
        grid-column-gap: 20px;
        justify-content: center;
    }

    #materialesImg{
        height: 5500px;
    }

    .navBar{
        display: none;
    }

    header{
        justify-content: space-between;
    }

    .iconHamb{
        display:block;
    }

    .redes a:not(:last-child){
        margin-right: 10px;
    }

    .what{
        font-size: 40px;
    }

    // CLIMATIZACIÓN (TABLETS)

    .videoClim2{
        height: 30vh;
        width: 34vw;
    }
    
    .videoClim1{
        height: 30vh;
        width: 34vw;
    }

    .clim1{
        height: 16vh;
        width: 36vw;
        margin-right: 3vw;
    }
    
    .clim2{
        height: 9vh;
        width: 20vw;
        margin-right: 12vw;
    }
    
    .clim3{
        height: 9vh;
        width: 25vw;
    }

    // MATERIALES (TABLETS)

    .ulMateriales{
        font-size: 12px
    }

    // NOSOTROS (TABLETS)

    .contenedor2 p{
        font-size: 22px;
    }

    .contenedor2 ul{
        font-size: 22px;
    }

    .misión{
        font-size: 23px;
    }

    .visión{
        font-size: 23px;
    }

    .valores{
        font-size: 23px;
    }

    // CONTACTO (TABLETS)

    .maps{
        left:70px;
        height: 35vh;    
        width: 65vw;
    }

    #nombre{
        margin-top: 350px;
        margin-left: 220px;
    }

    #apellido{
        margin-top: 350px;
    }

    input{
        height: 30px;
        width: 170px;
    }

    #teléfono{
        margin-left: 220px;
    }

    #localidad{
        margin-left: 43px;
    }

    input#localidad{
        width: 370px;
    }

    #comentarios{
        height: 130px;
        width: 370px;
        margin-left: 43px;
        margin-top: -30px;
    }

    #submit{
        margin-left: 43px;
    }

    // MOBILE DEVICES

    @media only screen and (max-width: 480px) {
        .navBar{
            display: none;
        }
    
        header{
            justify-content: space-between;
        }
    
        .iconHamb{
            display:block;
        }
    
        .redes a:not(:last-child){
            margin-right: 10px;
        }
    
        .copyright h2{
            font-size: smaller;
            margin-top: 2.8vh;
        }
    
        .redes{
            font-size: 24px;
        }
    
        /* CLIMATIZACIÓN (MOBILE) */
    
        .videoClim2{
            height: 25vh;
            width: 34vw;
        }
        
        .videoClim1{
            height: 25vh;
            width: 34vw;
        }
    
        .clim1{
            height: 16vh;
            width: 36vw;
            margin-right: 3vw;
        }
        
        .clim2{
            height: 9vh;
            width: 25vw;
            margin-right: 9vw;
        }
        
        .clim3{
            height: 9vh;
            width: 25vw;
        }
    
        /* MATERIALES (MOBILE)*/
    
        .ulMateriales{
            font-size: 12px
        }
    
        /* NOSOTROS (MOBILE) */
    
        .contenedor2 p{
            font-size: 17px;
        }
    
        .contenedor2 ul{
            font-size: 17px;
        }
    
        .misión{
            font-size: 20px;
        }
    
        .visión{
            font-size: 20px;
        }
    
        .valores{
            font-size: 20px;
        }
    
        /* CONTACTO (MOBILE) */
    
        .maps{
            left:40px;
            height: 35vh;    
            width: 65vw;
            top: 100PX;
        }
    
        #nombre{
            margin-top: 300px;
            margin-left: 80px;
        }
    
        #apellido{
            margin-top: 300px;
        }
    
        input{
            height: 30px;
            width: 135px;
        }
    
        #teléfono{
            margin-left: 80px;
        }
    
        #localidad{
            margin-left: -26px;
        }
    
        input#localidad{
            width: 300px;
        }
    
        #comentarios{
            height: 100px;
            width: 300px;
            margin-left: -26px;
        }
    
        #submit{
            margin-left: -26px;
        }
    }
}